.footer{
  margin-top: 5em;
}
.creator-information{
  width: 30%;
  display: inline-block;
  vertical-align: text-top;
}
.creator-information p{
  margin: 0;
}
/*CREATOR LINK EFFECT*/
a.creator{margin-top: 2em;cursor:pointer;color:#111;transform:translate3d(0,-50%,0);padding:.7em calc(.7em * 1.2);display:inline-block;border:3px solid transparent;position:relative;letter-spacing:.07em;text-decoration:none}.line,a.creator:after{position:absolute;background:#111}a.creator .text{transform:translate3d(0,.7em,0);display:block;transition:transform .4s cubic-bezier(.2,0,0,1) .4s}a.creator:after{content:'';bottom:-3px;left:calc(.7em * 1.2);right:calc(.7em * 1.2);height:3px;z-index:-1;transition:transform .8s cubic-bezier(1,0,.37,1) .2s,right .2s cubic-bezier(.04,.48,0,1) .6s,left .4s cubic-bezier(.04,.48,0,1) .6s;transform-origin:left}.creator .line.-left,.line.-right{width:3px;bottom:-3px;top:-3px;transform:scale3d(1,0,1)}.creator .line.-bottom,.line.-top{height:3px;left:-3px;right:-3px;transform:scale3d(0,1,1)}.line.-right{right:-3px;transition:transform .1s cubic-bezier(1,0,.65,1.01) .23s;transform-origin:top}.line.-top{top:-3px;transition:transform 80ms linear .43s;transform-origin:left}.line.-left{left:-3px;transition:transform 80ms linear .51s;transform-origin:bottom}.line.-bottom{bottom:-3px;transition:transform .3s cubic-bezier(1,0,.65,1.01);transform-origin:right}a.creator:active .text,a.creator:hover .text{transform:translate3d(0,0,0);transition:transform .6s cubic-bezier(.2,0,0,1) .4s}a.creator:active:after,a.creator:hover:after{transform:scale3d(0,1,1);right:-3px;left:-3px;transform-origin:right;transition:transform .2s cubic-bezier(1,0,.65,1.01) .17s,right .2s cubic-bezier(1,0,.65,1.01),left 0s .3s}a.creator:active .line,a.creator:hover .line{transform:scale3d(1,1,1)}a.creator:active .line.-right,a.creator:hover .line.-right{transition:transform .1s cubic-bezier(1,0,.65,1.01) .2s;transform-origin:bottom}a.creator:active .line.-top,a.creator:hover .line.-top{transition:transform 80ms linear .4s;transform-origin:right}a.creator:active .line.-left,a.creator:hover .line.-left{transition:transform 80ms linear .48s;transform-origin:top}a.creator:active .line.-bottom,a.creator:hover .line.-bottom{transition:transform .5s cubic-bezier(0,.53,.29,1) .56s;transform-origin:left}
.footer-links{
  vertical-align: text-top;
  display: inline-block;
  width: 69%;
}
.footer-block{
  display: inline-block;
  width: 25%;
  text-align: left;
}
.footer-block a{
  color: #111;
  text-decoration: none;
}

@media (max-width: 800px) {
  .creator-information {
      width: 100%;
      text-align: center;
  }
  .footer-links{
    width: 100%;
  }
  .footer-block{
    width: 100%;
    text-align: center;
  }
}
