.logo{
  display: inline-block;
  color: var(--first);
}
.search{
  display: block;
  width: calc(100% - 2em);
  padding: 1em;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 1px 11px #00000014;
  transition: .3s ease box-shadow, .3s ease transform;
  grid-column-start: 1;
  grid-column-end: 3;
}
.search:focus{
  transform: translateY(-2px);
  box-shadow: 0 3px 11px #0000001a;
  transition: .3s ease box-shadow, .3s ease transform;
  outline: 0;
}
.header{
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}
.navigation{
  display: inline-block;
  text-align: right;
}
.navigation a{
  text-decoration: none;
  color: var(--third);
  margin-left: 5em;
}
.navigation a.active{
  background: var(--first);
  color: var(--second);
  padding: 0.75em 2em;
  border-radius: 4px;
}
.navigation a:first-child{
  display: none;
}
/*Mobile Navigation*/
@media (max-width: 1110px) {
    .logo{
      grid-column: 1/3;
      text-align: center;
    }
    .navigation a::before,
    .navigation a::after {
      height: 0;
    }
    .navigation a {
      color: #eaeaea;
      margin: 0;
    }
    .navigation {
      padding: 1em;
      float: inherit;
      display: block;
      background: var(--first);
      margin: 4% 0 8% 0;
      border-radius: 5px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      grid-column-start: 1;
      grid-column-end: 3;
    }
    .navigation a:not(:first-child) {
      display: none;
    }
    .navigation a:first-child {
      display: block;
      text-align: center;
      background: var(--first);
      font-weight: 600;
      color: #eaeaea;
      padding: 0.5em;
    }
    .navigation.responsive a:first-child {
      margin-bottom: 10px;
    }
    .navigation.responsive {
      position: relative;
    }
    .navigation.responsive a {
      float: none;
      display: block;
      text-align: center;
      padding: 10px;
    }
    .navigation a {
      display: block;
      padding: 5px 0 5px 0;
      color: #eaeaea;
      cursor: pointer;
    }
    .navigation a.active{
      background: var(--third);
    }
}
