body{
  background: var(--second);
  font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  scroll-behavior: smooth;
  margin: 0;
  color: var(--third);
}
button, input, select, textarea {
  font-family: system, -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif;
}
:root{
  --overearcolor: #545EEE;
  --inearcolor: #EEC054;
  --onearcolor: #EE5454;
  --interfacecolor: #7C54EE;
  --first: #3772FF;
  --second: #fbfdff;
  --third: #080705;
}
.block{
  padding: 2em 5%;
}
h1, h2{
  font-family: 'Roboto Slab', serif;
}
.logo a{
  color: var(--first);
  text-decoration: none;
}
