@keyframes scaleIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
.reviews{
  padding: 3em 5%;
  background-color: #ECECEC;
}
.review{
  background: #fff;
  display: grid;
  grid-template-columns: 40% 60%;
  box-shadow: 0 0 15px #0000001f;
  height: 16em;
  transition: .5s ease-out box-shadow;
  grid-gap: 5px;
}
figure.animated{
  animation: .2s ease-out 0s 1 scaleIn;
}
.review:hover{
  box-shadow: 0 0 15px #00000047;
  transition: .5s ease box-shadow;
}
.reviewgrid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
}
figure{
  margin: 0;
}
.preview{
  border-top: 5px solid;
  padding-top: 3em;
  max-height: calc(16em - 3em - 5px);
  overflow: hidden;
}
.preview img{
  width: 100%;
}
.reviewdetails{
  display: inline-block;
  padding: 2em 0;
}
a.category {
  color: #8F8F8F;
  text-decoration: none;
  letter-spacing: 2.1px;
  font-size: 12pt;
}
a.manufacurer{
  display: block;
  color: black;
  text-decoration: none;
  font-size: 17pt;
}
a.headphone{
  display: block;
  color: black;
  text-decoration: none;
  margin: 0;
  font-size: 25pt;
  font-weight: normal;
}
a.to-review {
    color: #000;
    text-decoration: none;
    text-align: center;
    display: block;
    letter-spacing: 3px;
}
ul{
  font-size: 10pt;
  height: 5em;
  overflow: hidden;
}
.filterbubble{
  display: inline-block;
  border-radius: 10em;
  padding: 5px 1em;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 10pt;
  margin-bottom: 2em;
  will-change: background-color;
  transition: .3s ease background-color, .3s ease box-shadow;
  cursor: pointer;
}
.filterbubble.overear{
  border: 2px solid var(--overearcolor);
  color: #000;
}
.filterbubble.overear.selected{
  background-color: var(--overearcolor);
  color: white;
  box-shadow: 0 2px 6px #00000014;
  text-shadow: 0 0 7px #0000008c;
  transition: .3s ease background-color, .3s ease box-shadow;
}
.filterbubble.onear{
  border: 2px solid var(--onearcolor);
  color: #000;
}
.filterbubble.onear.selected{
  background-color: var(--onearcolor);
  color: white;
  box-shadow: 0 2px 6px #00000014;
  text-shadow: 0 0 7px #0000008c;
}
.filterbubble.inear{
  border: 2px solid var(--inearcolor);
  color: #000;
}
.filterbubble.inear.selected{
  background-color: var(--inearcolor);
  color: white;
  box-shadow: 0 2px 6px #00000014;
  text-shadow: 0 0 7px #0000008c;
}
.filterbubble.interface{
  border: 2px solid var(--interfacecolor);
  color: #000;
}
.filterbubble.interface.selected{
  background-color: var(--interfacecolor);
  color: white;
  box-shadow: 0 2px 6px #00000014;
  text-shadow: 0 0 7px #0000008c;
}
.filterbubblex{
  height: 16px;
vertical-align: text-top;
}

.pageindicatorContainer{
  text-align: center;
  margin: 2em 0;
}
.pageindicatorContainer .pageindicator {
  color: black;
  text-decoration: none;
}
.pageindicattorContainer .pageindicator.selected {
  border: 1px solid;
  padding: 0 5px;
  margin: 0 2px;
}
@media (max-width: 1300px) {
  .reviewgrid{
    grid-template-columns: repeat(4, 1fr);
  }
  .reviewFigure:nth-child(odd){
    grid-column: 1/3;
  }
  .reviewFigure:nth-child(even){
    grid-column: 3/5;
  }
  .review{
    grid-gap: 0;
  }
}
@media (max-width: 800px) {
  .reviewFigure:nth-child(even) .review,.reviewFigure:nth-child(odd) .review{
    /* grid-column: 1/5; */
    height: auto;
  }
  .preview{
    grid-column: 1/3;
    padding: 1em 10% 0 10%;
  }
  .reviewdetails{
    grid-column: 1/3;
    padding: 1em;
  }
}
@media (max-width: 550px) {
  .reviewFigure:nth-child(even),.reviewFigure:nth-child(odd){
    grid-column: 1/5;
  }
}
